*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container{
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    text-align: center;
    width: 90%;
}

.logo-img{
    width: 60px;
    display: block;
    margin: 0 auto 10px auto;
}

.logo-p{
    color: #dcdcdc;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 1.4;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 0.85rem;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #444;
    background-color: transparent;
    color: #fff;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border: 1px solid #8a2be2;
}

::placeholder {
    color: #aaa;
    font-size: 0.85rem;
}

.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to right, #2db6f5, #7b3ffb);
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn-login:hover {
    transform: scale(1.03);
    opacity: 0.9;
}